.auth-card {
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  padding: var(--space-5);
  width: 75%;
}

.auth-card h2 {
  text-align: center;
  margin-bottom: var(--space-4);
  color: var(--primary-700);
}

.btn-block {
  display: block;
  width: 100%;
  padding: var(--space-2) 0;
  margin-top: var(--space-4);
  font-size: 1.1rem;
}

.btn-block:disabled {
  background-color: var(--neutral-400);
  cursor: not-allowed;
}

.auth-footer {
  margin-top: var(--space-4);
  text-align: center;
  font-size: 0.9rem;
}

.error-text {
  background-color: #f8d7da;
  color: #721c24;
  padding: 8px 12px;
  margin-top: 4px;
  border-radius: 4px;
  font-size: 0.9rem;
  margin-top: 0.75rem;
}
